.box {
  position: relative;        
  width: 97vw;
  height: 95vh;             
  margin: 20px auto ;
  background-color: rgba(173, 216, 230, 0.7);
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
  overflow: hidden;          
}

.big-image {
   flex: 0 0 70%; 
  opacity: 0.6;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  max-height: 70vh;
  object-fit: cover;
}



.boxPieces {
  flex: 0 0 30%; 
  height: 70vh;
  background-color: rgba(151, 126, 218, 0.9);
  border-radius: 15px;
  padding: 10px;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.boxPieces h7 {
  text-align: center;
  color: white;
}

.container {
  display: flex;         
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;            
  margin-left: 30px;
  margin-top: 40px;
}
