body {
  background-color: rgb(213, 179, 237); 
}

.title {
  color: purple;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
}
.btn{
  background-color: rgb(193, 144, 234);

}
.card-body{
  background-color: rgb(161, 113, 195); 
}
.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4); 
  transition: all 0.3s ease;
}
.card:hover .card-body {
  background-color: rgb(132, 58, 205);
}
