body {
  background-color: rgb(213, 179, 237); 
}

.title {
  color: purple;
  text-align: center;
  font-family: 'Trebuchet MS', sans-serif;
}
.btn{
  background-color: rgb(193, 144, 234);

}
.card-body{
  background-color: rgb(161, 113, 195); 
}
